body,p,li,a {
	font-family: arial, times, serif;
	font-size: 13pt;
}

h1,h2,h3 {
	font-family: arial, serif;
}

body {
	margin: 10px;
	padding: 0;
}

a,a:visited,a:hover,a:active {
	color: #6493D2;
}

h1 {
	padding: 0px;
	margin: 0px;
	font-size: 36pt;
	color: #FF5500;
}

h2 {
	padding: 0px;
	margin: 0px;
	font-size: 24pt;
	color: #092E67;
}

.td-text-align-right {
	text-align: right;
}

.div-text-align-right {
	width: 230px;
	margin-left: 0px;
	text-align: right;
}